<form class="ajout-produit" action="{{ path('amandine_projet_liaison_basket_create', { 'id' : liaisonBasket.product.id } ) }}" method="post"> {{ form_start(form) }} 
    {{ form_widget(form) }}
    
</form>