{% extends "@AmandineCore/layout.html.twig" %}

{% block title %}
  conditions générales de vente - {{ parent() }}
{% endblock %}

{% block body %}

		<section class="content-livraison">
			<h2>Conditions générales de vente</h2>

			<div>
				<h3>1 - CHAMPS D'APPLICATION</h3>
				<p>Les présentes conditions générales de vente s'appliquent à toute consultation ou commande passée sur le site Internet www.ledodoparisien.com/ et ses adresses dérivées (ci-après « le Site ») de Le Dodo parisien, (Société par actions simplifiées au capital de 57.375.590 €, Le Portereau, 44124 VERTOU Cedex, immatriculée au RCS Nantes sous le numéro B 383 196 656 et ayant comme numéro de TVA intra-communautaire FR 09 383 196 656 pour l'achat de biens à livrer en France métropolitaine, Belgique, Espagne, Italie, Allemagne et Angleterre (ci-après les « produits »). La confirmation de la commande par l'acheteur emporte acceptation sans réserve des présentes conditions générales de vente qui prévalent sur toutes les versions antérieures ou spécifications émanant de l'acheteur, en ce compris par échange de courriers électroniques. </p>
			</div>

			<div>
				<h3>2 - COMMANDES</h3>

				<h4>2.1 Offre des produits</h4>
				<p>Les produits sont présentés conformément aux prescriptions légales et le plus exactement possible.<br><br>

				Des différences entre les produits livrés et ceux représentés sur le Site ou le catalogue peuvent exister, principalement pour les produits artisanaux pour lesquels l'homogénéité de la production ne peut être parfaitement assurée ou pour ceux ayant fait l'objet d'adaptations liées à l'évolution technique ou technologique. Ces différences, dès lors qu'elles ne portent pas sur les caractéristiques essentielles des produits et n'affectent pas leur qualité, ne pourront justifier une annulation de la commande ou un refus de livraison. La représentation parfaite des produits sur le Site Internet et/ou dans les catalogues ne pouvant être garantie, en particulier du fait des différences de rendu des couleurs par les logiciels de navigation Internet et/ou les moniteurs de visualisation, Le Dodo parisien ne pourra pas être tenu responsable de l'inexactitude des photographies figurant sur le Site.</p>

				<h4>2.2 Acceptation decommande</h4>
				<p>La commande est ferme pour l'acheteur dès la confirmation de sa commande. Pour Le Dodo parisien à compter de la validation du règlement  et la confirmation de la prise en compte de la commande.</p>

				<h4>2.3 Minimum de commande</h4>
				<p>Le Dodo parisien fixe un montant minimum de commande. Ce montant minimum sert uniquement à couvrir les dépenses de chaque commande et nous permet de continuer à vous proposer une offre de décoration aussi riche que possible.</p>

			</div>

			<div>
				<h3>3 - PRIX / PAIEMENT</h3>

				<h4>3.1 Prix des produits</h4>
				<p>Les prix des produits sont indiqués en euros, taxes liées à la vente des produits, dont TVA, comprises. Ils sont garantis jusqu'à la parution du nouveau catalogue.</p>

				<h4>3.2 Frais de livraison</h4>
				<p>La livraison de vos meubles pourra être effectuée par transporteur ou par colis. Le type de transport vous sera précisé lors de votre commande.</p>

				<h4>3.3 Paiement</h4>
				<p>Le paiement est effectué en euros exclusivement, en totalité à la commande, par carte bancaire, virement bancaire, crédit (pour les facturations en France uniquement), avoir, carte cadeau ou par chèque bancaire (chèque bancaire français uniquement), sauf indication contraire à la commande, adressé à l'adresse suivant : <br><br>

				Le Dodo parisien<br>
				Service Comptabilité Internet<br>
				Le Portereau<br>
				BP 52402<br>
				44124 Vertou<br><br>

				En cas de défaut de réception du chèque ou virement dans un délai de 8 jours à compter de la confirmation de la commande par l'acheteur, la commande sera considérée comme annulée.<br><br>

				Les paiements par carte bancaire sont sécurisés par la solution Merc@net de BNP Paribas, conforme aux réglementations interbancaires françaises et internationales. Cette solution permet à l'acheteur d'effectuer ses achats de produits en toute sécurité. Les coordonnées bancaires de l'acheteur payant par carte bancaire ne sont pas conservées par Le Dodo parisien et sont directement transmises à BNP Paribas.<br><br>

				Dans le cadre de son action en faveur de la lutte contre les fraudes sur internet, Le Dodo parisien peut être amenée à vérifier les coordonnées bancaires et/ou l'identité des clients avant toute livraison. En passant sa commande sur le site de Le Dodo parisien, le client s'engage à fournir à Le Dodo parisien les justificatifs demandés. A défaut de communication des éléments demandés par Le Dodo parisien dans le délai imparti, cette dernière se réserve le droit d'annuler la commande objet de la vérification.<br><br>

				Les commandes n'étant prises en compte qu'après validation de leur règlement, aucun escompte ou pénalité de retard n'est applicable.<br><br>


				Paiement avec Cetelem Presto, des facilités de paiement en 5, 10, 20 ou 30 mois.<br><br>

				Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.<br><br>

				Pour tout achat de 100€ à 16 000€, simulez les mensualités de votre crédit sur les fiches produit. Choisissez Cetelem Presto sur la page de paiement de votre commande sur www.ledodoparisien.com<br>
				Cliquez sur le crédit le mieux adapté à vos envies et à votre budget : possibilité de remboursement 5 ou 10 mois sans frais à partir de 100€, en 20 mois à crédit à partir de 300€ et en 30 mois à crédit à partir de 450€ d’achat.<br><br>

				Exemple hors assurance facultative : pour un achat et un crédit accessoire à une vente de 800€ sur 10 mois au Taux Annuel Effectif Global fixe de 0%, vous remboursez 10 mensualités de 80€, montant total dû (par l’emprunteur) : 800€. Le coût du crédit (TAEG fixe 8.19%, taux débiteur fixe 7.90%, intérêts : 29.00€) est pris en charge par votre site marchand.<br>
				Le coût de l’assurance facultative (Décès, Perte Totale et Irréversible d’Autonomie, Maladie-Accident), souscrite auprès de Cardif Assurance Vie et Cardif Assurances Risques Divers, est de 2€/mois et s’ajoute au montant de la mensualité de l’exemple ci-dessus.<br><br>

				Complétez votre demande de crédit accessoire à une vente en ligne et recevez immédiatement une réponse de principe. Pour vos achats inférieurs à 1500€, demandez la livraison express de votre commande en signant en ligne une offre de facilité de paiement en 2 fois (sous réserve de l’éligibilité de votre dossier) et votre commande sera confirmée immédiatement. A réception de votre contrat de crédit accessoire à une vente renvoyez le signé, accompagné des pièces justificatives, sous 15 jours.<br><br>

				A défaut, ou en cas de refus de votre demande de crédit accessoire à une vente après étude définitive, votre commande sera réglée par prélèvement en deux fois sur votre compte bancaire. Dans ce dernier cas, une participation forfaitaire sera prélevée sur le premier des 2 prélèvements à hauteur de : 0,30€ pour un achat à crédit compris entre 150 à 299,99€, 0,70€ pour un achat à crédit compris entre 300 à 599.99€, 1,40€ pour un achat à crédit compris entre 600 et 999.99€ et 2,40€ pour un achat compris entre 1000 et 1500€.<br><br>

				Sous réserve d’étude et d'acceptation du dossier par BNP Paribas Personal Finance. Vous disposez d’un droit de rétractation. Cetelem est une marque de BNP Paribas Personal Finance, 1 boulevard Haussmann 75009 Paris, Société Anonyme au capital de 453 225 976€, 542 097 902 RCS Paris. N° ORIAS : 07 023 128 (www.orias.fr).<br><br>

				Publicité diffusée par Le Dodo parisien Le Portereau 44120 VERTOU, 383.196.656 RCS NANTES, en qualité d'intermédiaire en opérations de banques immatriculé dans la catégorie mandataire non exclusif de BNP Paribas Personal Finance. Cet intermédiaire apporte son concours à la réalisation d'opérations de crédit sans agir en qualité de prêteur.<br><br>



				Payez avec PayPal<br><br>

				PayPal est un moyen de paiement sécurisé qui vous permet de payer rapidement vos articles sans partager vos données bancaires avec les sites vendeurs.<br><br>

				Il vous suffit en effet de les avoir indiquées lors de la création de votre compte PayPal. Elles sont alors cryptées et sécurisées une fois pour toutes. Si vous possédez déjà un compte PayPal, vous pouvez l’utiliser sur notre site pour régler vos achats rapidement et en toute sécurité. Si vous n’avez pas de compte PayPal, vous pouvez tout de même choisir ce moyen de paiement. Au moment de régler, vous êtes alors dirigés vers une page PayPal où vous renseignez vos données bancaires [et choisissez ou non de créer un compte PayPal.<br><br>
				</p>

				<h4>3.4 Facturation</h4>
				<p>La facture adressée à l'acheteur reprend les indications renseignées par ce dernier dans son compte client. L'acheteur a la possibilité de modifier ces données à l'occasion de toute nouvelle commande passée sur le site.<br><br>

				L'acheteur agissant en qualité de professionnel est tenu de prendre contact avec le Service Professionnels Le Dodo parisien - préalablement à la validation définitive de toute commande - pour l'établissement de toute facture à usage professionnel. Le client professionnel communiquera ainsi à Le Dodo parisien l'ensemble des mentions nécessaires à l'établissement d'une telle facture dont son numéro de TVA intracommunautaire.</p>

			</div>

			<div>
				<h3>4 - LIVRAISON</h3>

				<h4>4.1 Modalités de livraison </h4>
				<p> Lorsque vous passez votre commande, le mode de livraison (par transporteur ou par colis) vous est précisé.<br>
					Voir la zone de livraison.<br>
					Livraison par colis : La livraison de votre commande sera effectuée par un transporteur spécialisé dans la livraison express. Un livreur se présentera chez vous après la mise en expédition de votre marchandise. Les colis sont livrés au pied de votre domicile. Les prix ne comportent pas la livraison à l'étage ni l'installation.<br>
					Votre commande vous sera livrée par colis en moins de 10 jours à partir de la date mentionnée sur la page « disponibilité » lors de votre processus de commande.<br><br>

					Livraison par transporteur : La livraison de votre commande sera effectuée par un transporteur spécialisé dans la livraison de meubles. Vos meubles seront livrés sous couverture ou sous carton ou sur palette afin de leur assurer une protection maximale. Notre service livraison prendra contact avec vous pour fixer une date de livraison dans les délais mentionnés sur votre récapitulatif de commande.<br>
					Attention, il vous appartient de vérifier préalablement à la commande, notamment en termes de taille et de volume, que vos produits peuvent être acheminés par les voies d'accès au lieu de livraison.<br>
					Vos articles seront livrés sur rendez-vous sous environ 15 jours ouvrables en France métropolitaine et sous 3 à 4 semaines dans les autres pays à compter de la confirmation de la commande, à la date convenue avec les transporteurs de Le Dodo parisien (sauf indication contraire au moment de la commande). Une date indicative de livraison vous sera clairement indiquée lorsque vous passez commande sur le site. Notre service livraison prendra contact avec vous par téléphone par afin de convenir d'une date de rendez-vous.<br><br>

					Sur devis accepté par l'acheteur et Le Dodo parisien l'acheteur devra mentionner les obstacles à une livraison par les voies d'accès normales (escaliers, ascenseur, portes palières) sur le bon de commande et les rappeler au transporteur.<br>
					Il appartient à l'acheteur de vérifier préalablement à la commande, notamment au regard des spécifications des produits en terme de taille et de volume, que ceux-ci peuvent être acheminés par les voies d'accès au lieu de livraison.<br><br>

					L'impossibilité pour les transporteurs de Le Dodo parisien de livrer à la date convenue les produits, en cas d'absence de l'acheteur ou de défaut d'information sur la nécessité de recourir à des moyens spécifiques de livraison, pourra donner lieu au paiement de frais de livraison complémentaires et/ou à annulation de la commande par Le Dodo parisien.<br>
					Les risques du produit sont transférés à l'acheteur lors de la livraison ou à la date de la première présentation des produits par les transporteurs de Le Dodo parisien à la date de livraison convenue avec ceux-ci.<br><br>

					Dans les cas où les dates de disponibilité respective des produits d'une commande seraient différentes, Le Dodo parisien proposera à l'acheteur de fractionner sa commande. En cas de livraison fractionnée, la participation aux frais de livraisons visés au point 3.2. sera appliquée sur chaque fraction de la commande. A défaut de livraison fractionnée, la livraison interviendra à la date de disponibilité de l'ensemble des produits commandés.<br><br>

					Conformément aux dispositions des articles L. 114-1 et L121-20-3 du Code de la consommation, les consommateurs ont la faculté d'annuler les commandes en cas de dépassement de plus de 7 jours de la date de livraison indiquée lors de la commande, sauf en cas de force majeure.<br>
					Seules les annulations adressées par lettre recommandée avec accusé de réception au plus tard dans les 60 jours ouvrés suivant l'expiration du délai ou de la date de livraison prévue et reçues avant la livraison des produits concernés, seront prises en compte par Le Dodo parisien. </p>

				<h4>4.2 Réception et réclamations</h4>
				<p>L'acheteur doit procéder, lors de la livraison, à tous examens nécessaires pour déceler les éventuels avaries, manquants, défauts ou autres vices apparents ou non-conformité des produits livrés à sa commande. L'acheteur doit notamment vérifier l'état des emballages, le nombre de colis et les produits dans leurs quantités, leurs références, leur état et leurs caractéristiques.<br><br>

				En cas de réclamation, l'acheteur devra contacter les services du transporteur de Le Dodo parisien.<br><br>

				Sous peine d'irrecevabilité de sa demande, l'acheteur devra :<br><br>

    			Porter sur le bon de livraison les réserves précises et motivées en cas d'avaries ou de manquants, les réserves générales du type « sous réserve de déballage » étant insuffisantes,<br>
    			Confirmer ses réserves pour manquants ou avaries et formuler ses autres réserves, par lettre recommandée avec avis de réception au service clients de Le Dodo parisien Le Portereau, BP 52402, 44124 VERTOU Cedex.<br>
    			Confirmer ses réserves pour manquants ou avaries par lettre recommandée avec avis de réception au transporteur, dans les 3 jours, non compris les jours fériés, suivant la livraison.<br><br>

				L'acheteur devra adresser dans les mêmes délais une copie de cette réclamation à Le Dodo parisien.<br><br>

				L'acheteur devra par ailleurs être en mesure de fournir toute justification quant à la réalité des réclamations invoquées et laisser à Le Dodo parisien, à ses transporteurs ou à toute personne mandatée par ceux-ci, toute facilité pour procéder à leur constatation, l'acheteur devant s'abstenir d'intervenir ou de faire intervenir un tiers à cette fin.<br><br>

				Les réclamations acceptées donneront lieu à l'échange du produit défectueux ou non conforme, ou à son remboursement en cas d'indisponibilité du produit en stock ou auprès des fournisseurs. Le produit retourné devra être remis aux transporteurs de Le Dodo parisien en parfait état, dans son emballage d'origine et muni de tous ses accessoires. Aucun retour spontané, sans accord de Le Dodo parisien, ne sera accepté.</p>
			</div>

			<div>
				<h3>5 - GARANTIE DES PRODUITS / RESPONSABILITE</h3>

				<h4>5.1 Etendue de la garantie</h4>
				<p>Les produits sont garantis pendant une durée de 2 ans à compter de leur livraison contre tous vices de fabrication, de conception ou de matières. Pendant la période de garantie, Le Dodo parisien s'engage, à son choix, à échanger ou rembourser les produits reconnus défectueux par ses services. Les produits échangés bénéficient de la garantie pour la durée restant à courir. Sont exclus de la garantie :<br><br>

    			les atteintes au produit résultant de son usure normale eu égard à sa nature, sa fonction, sa composition et son prix ;<br>
    			les légères différences constatées sur les produits telles que définies à l'article 2.1 ;<br>
    			les produits qui auront été utilisés de façon trop intensive, notamment à des fins autres que privées ;<br>
    			Tous défauts du produit pouvant résulter d'un(e) mauvais(e) installation, stockage, conservation, ou montage (non respect des notices de montage), d'un défaut d'entretien, d'une mauvaise utilisation ou d'une utilisation non conforme aux spécifications techniques ou d'utilisation (non respect des prescriptions de maintenance et d'entretien), de modifications ou de réparations effectuées par l'acheteur ou un tiers, de détériorations causées par des objets extérieurs (téléviseur d'un poids trop élevé sur un meuble non conçu pour cet usage), d'évènements extérieurs tels qu'accidents, chocs, incendies, actes de vandalisme, dégâts des eaux, lumières naturelles ou artificielles (en cas de décoloration), catastrophes naturelles ou intempéries.<br><br>

    			A compter de la date d'achat, les canapés identifiés sur leur fiche produit comme bénéficiant de la garantie 5 ans sont garantis :<br>
    			5 ans pour la structure, les pieds, la visserie, le mécanisme de canapé convertible, la toile de fond, la mousse d'habillage.<br>
    			2 ans pour le garnissage des coussins de dossier et d'assise<br>
    			1 an pour le revêtement et le matelas des convertibles<br>
				</p>

				<h4>5.2 Mise en œuvre de la garantie</h4>
				<p>Pour mettre en œuvre la garantie, l'acheteur contactera le service clients de Le Dodo parisien au numéro suivant : 02.51.71.17.73<br>
				La présentation de l'original de la facture sera exigée pour bénéficier de la garantie. </p>

				<h4>5.3 Garanties légales</h4>
				<p> Les produits sont garantis contre les éventuels défauts de conformité et vices cachés dans les conditions prévues par les dispositions du Code de la consommation et du Code civil.<br>
				Extraits du Code de la consommation :<br><br>

    			Art. L. 211-4. - Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance.<br>
    			Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.<br>
    			Art. L. 211-5. - Pour être conforme au contrat, le bien doit :<br>
    			1. Etre propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :<br>
    			§ correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;<br>
    			§ présenter les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;<br>
    			2. Ou présenter les caractéristiques définies d'un commun accord par les parties ou être propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.<br>
    			Art. L. 211-12. - L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.<br><br>

				Extraits du Code civil :<br><br>

    			Art. 1641 : Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.<br><br>
    			Art. 1648 : L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice.<br>
				</p>

				<h4>5.4 Responsabilité de Le Dodo parisien</h4>
				<p>La responsabilité de Le Dodo parisien au titre des produits livrés, y compris dans le cadre des garanties contractuelles ou légales applicables, est limitée au prix des produits défectueux ou non conformes. Le Dodo parisien ne pourra être tenue à l'indemnisation des dommages indirects ou tous autres préjudices financiers subis par l'acheteur ou un tiers.</p>

			</div>

			<div>
				<h3>6 - DROIT DE RETRACTATION</h3>
				<p>L'acheteur bénéficie d'un droit de rétractation de 14 jours calendaires à compter du jour de la réception des produits. Cette faculté n'est pas applicable aux produits fabriqués selon les spécifications de l'acheteur, nettement personnalisés ou qui, du fait de leur nature, ne peuvent être réexpédiés ou sont susceptibles de se détériorer.<br><br>

				Pour exercer son droit de rétractation, l'acheteur devra retourner le formulaire de rétractation, au service clients de Le Dodo parisien, dans le délai de 14 jours susvisé, soit par mail via la rubrique Contact/ Les produits/ Les commandes/J'ai été livré/ soit par lettre recommandée avec accusé de réception à l'adresse suivante :<br><br>

				Le Dodo parisien<br>
				Le Portereau<br>
				BP 52402<br>
				44124 VERTOU Cedex<br>
				FRANCE<br><br>

				L'exercice du droit de rétractation par le consommateur entraîne pour lui, l'obligation de renvoyer les produits dont la commande a été annulée dans un délai de 14 jours à compter de l’exercice du droit de rétractation dans un parfait état et dans leur emballage d’origine.<br><br>

				Pour organiser un retour, l'acheteur doit se rendre dans son compte client et accédez au détail de sa commande. En face du produit concerné, il doit choisir l'option "Retourner un produit" et indiquer la raison de son choix.<br><br>

				La demande sera immédiatement transmise au service client qui contactera l'acheteur pour organiser la ré-expédition du produit et lui indiquer la marche à suivre, qui diffère selon le mode d'expédition d'origine du produit. Pour plus de détail, consultez la page "Retours".<br><br>

				L'acheteur sera remboursé, dans les meilleurs délais et au plus tard dans les 14 jours suivant la date à laquelle le droit de rétractation a été exercé, de l'intégralité des sommes qu'il a versées, pour autant que Le Dodo parisien ait réceptionné le(s) produit(s)en parfait état, dans son(leur) emballage(s) d'origine et muni de tous ses(leurs) accessoires. </p>
			</div>

			<div>
				<h3>7 - UTILISATION DU SITE INTERNET</h3>

				<h4>7.1 Propriété intellectuelle</h4>
				<p>Les éléments édités sur le site de Le Dodo parisien incluant notamment des logos, des marques enregistrées, des textes, des photographies, des images, des dessins, modèles ou tableaux constituent des œuvres protégés par des droits de propriété intellectuelle ou des droits de la personne. La reproduction ou la représentation, totale ou partielle, de ce site est donc interdite sans l'accord exprès et préalable des titulaires de ces droits et constituerait une contrefaçon sanctionnée par les dispositions du Code de la propriété intellectuelle et/ou une faute délictuelle de nature à engager la responsabilité civile des contrevenants aux droits susmentionnés.</p>

				<h4>7.2 Responsabilité des utilisateurs</h4>
				<p>La navigation sur le site www.ledodoparisien.com/ relève de la seule responsabilité des utilisateurs. Le Dodo parisien ne saurait être tenue responsable au titre des pannes, erreurs, virus informatiques qui pourraient faire obstacle à la continuité d'accès à son site ou au titre des dysfonctionnements dans l'installation informatique des utilisateurs qui pourraient être constatés à la suite d'un accès au site. Elle ne pourra dès lors être tenue à la réparation des dommages directs ou indirects qui pourraient être liés à l'utilisation, à l'accès à son site ou au téléchargement d'éléments conservés sur le site (images, textes, fichiers vidéo...). </p>

				<h4>7.3 Loi informatique et liberté</h4>
				<p>Pour enregistrer et traiter les commandes des acheteurs et/ou répondre à des demandes d'informations, Le Dodo parisien collecte des données personnelles concernant ces personnes.<br>
				Celles-ci disposent d'un droit d'accès, de rectification, d'opposition et de suppression de ces données, conformément aux dispositions de la loi « Informatique et Libertés » du 6 janvier 1978. Pour toute demande, il conviendra de s'adresser à contact.client@ledodoparisien.com </p>

			</div>

			<div>
				<h3>8 - FORCE MAJEURE</h3>
				<p>Aucune Partie ne pourra être tenue pour responsable de la non exécution totale ou partielle de ses obligations, si cette non-exécution est due au cas fortuit ou à la survenance d'un élément constitutif de force majeure tel que notamment, et sans que cette liste soit limitative, l'inondation, l'incendie, la tempête, le manque de matières premières, la grève des transports, grève partielle ou totale, ou lock-out. La Partie ayant été frappée par de tels événements devra informer l'autre partie dans les plus brefs délais et au plus tard dans les cinq (5) jours ouvrés de la survenance de cet événement.<br><br>

				Les parties conviennent qu'elles devront se concerter dans les meilleurs délais afin de déterminer ensemble les modalités d'exécution de la commande pendant la durée du cas de force majeure.<br><br>

				Si le cas de force majeure a une durée d'existence supérieure à un (1) mois, Le Dodo parisien pourra ne pas honorer la commande, à charge pour Le Dodo parisien de rembourser le cas échéant l'acheteur des sommes versées par lui au titre de la commande concernée.</p>
			</div>

			<div>
				<h3>9 - DIVERS</h3>

				<h4>9.1 Preuve :</h4>
				<p>De convention expresse entre Le Dodo parisien et l'acheteur, les courriers électroniques feront foi entre les parties de même que les systèmes d'enregistrement automatiques utilisés sur le Site, notamment quant à la nature et à la date de la commande.<br><br>

				L'acheteur peut accéder conformément aux règles du droit commun, au contrat électronique conclu avec Le Dodo parisien. Il s'adresse pour ce faire au service client par courrier électronique auquel il fournira toutes les informations nécessaires pour ce faire, notamment le numéro de commande et ses coordonnées.</p>

				<h4>9.2 Non validité partielle :</h4>
				<p>Si une ou plusieurs stipulations des présentes conditions générales de vente sont tenues pour non valides ou déclarées telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée</p>

				<h4>9.3 Non renonciation :</h4>
				<p>Le fait que l'une des Parties n'ait pas exigé l'application d'une clause quelconque des présentes conditions générales de vente, que ce soit de façon permanente ou temporaire, ne pourra en aucun cas être considéré comme une renonciation aux droits de cette Partie découlant de ladite clause.</p>

				<h4>9.4 Titre</h4>
				<p>En cas de difficulté d'interprétation entre l'un quelconque des titres des articles et chapitres et l'une quelconque des clauses, les titres sont réputés inexistants</p>

				<h4>9.5 Modification des conditions générales de vente :</h4>
				<p>Le Dodo parisien se réserve le droit de modifier les présentes conditions générales de vente. Toute nouvelle version de celles-ci sera signalée sur le Site.<br><br>

				La version en ligne sur le Site au moment de la commande par l'acheteur prévaudra sur toute autre version des présentes conditions générales de vente antérieure.</p>

				<h4>9.6 Intégralité du contrat :</h4>
				<p>Les présentes conditions générales de vente et le récapitulatif de commande transmis à l'acheteur forment un ensemble contractuel et constituent l'intégralité des relations contractuelles intervenues entre les parties.</p>

			</div>

			<div>
				<h3>10 - DROIT APPLICABLE / JURIDICTION</h3>
				<p>Les relations entre les acheteurs et Le Dodo parisien, au titre des commandes passées sur le Site seront régies par le droit français.<br><br>


				EN CAS DE LITIGE QUI NE POURRAIT ETRE RESOLU DE FAÇON AMIABLE, TOUTE ACTION JUDICIAIRE SERA, _*SOUS RESERVE DES DISPOSITIONS DE L'ARTICLE 48 DU NCPC*_, DE LA COMPETENCE EXCLUSIVE DES TRIBUNAUX COMPETENTS DU RESSORT DU SIEGE SOCIAL DE LA SOCIETE Le Dodo parisien, NONOBSTANT PLURALITE DE DEFENDEURS OU APPEL EN GARANTIE, Y COMPRIS POUR LES PROCEDURES D'URGENCE, LES PROCEDURES CONSERVATOIRES EN REFERE OU PAR REQUET E.<br><br>

 

				Le Dodo parisien Société par Actions Simplifiée au capital de 57.375.590 €<br>
				Siège social : Lieudit « Le Portereau »<br>
				44120 VERTOU<br>
				383.196.656 RCS NANTES<br>
				Téléphone : 02 51 71 17 17 </p>
			</div>

			<div>
				<h3>11 - VENTES PRIVÉES</h3>

				<p>Le Dodo parisien organise occasionnellement des ventes privées sur son site web dédié et accessible depuis l’adresse ventesprivees.ledodoparisien.com. Les offres proposées à l’occasion de ces ventes privées ne sont pas cumulables avec une toute autre offre en cours au moment de la vente.<br><br>

				La réduction s’applique automatiquement dans le panier.<br><br>

				Les modalités de paiement des articles, livraison, échanges et retour sont telles que définies dans les paragraphes des présentes Conditions Générales de Vente.</p>

				<h4>11.1 Stock limité</h4>
				<p>Compte tenu du caractère exceptionnel des Ventes Privées de Le Dodo parisien, chaque article est proposé à un prix exceptionnel dans la limite des stocks disponibles et pendant une durée limitée.</p>

				<h4>11.2 Validation de la commande</h4>
				<p>Une fois le panier validé, l’acheteur dispose de 15 minutes pour valider et finaliser la commande. Le cas échéant, le panier sera annulé et le produit sera de nouveau remis en vente.</p>

				<h4>11.3 Confirmation et suivi de la commande</h4>
				<p>Pour chaque commande finalisée, le site Ventes Privées Le Dodo parisien confirmera la commande puis son expédition auprès de l’acheteur par courrier électronique.</p>
			</div>

			<div>
				<h3>12 - MEDIATION</h3>
				<p>Conformément à l'article R 152-1 du code de la consommation, le client peut gratuitement recourir au service de médiation MEDYCIS, par voie électronique : www.medicys.fr ,ou par voie postale : MEDICYS- Centre de médiation et règlement amiable des huissiers de justice- 73, Boulevard de Clichy, 75009 - Paris, pour toutes les réclamations déjà déposées par écrit auprès du service clientèle du vendeur depuis moins d'un an et non satisfaites.</p>
			</div>

		</section>

{% endblock %}