{% extends "@AmandineCore/layout.html.twig" %}

{% block title %}
  Livraison - {{ parent() }}
{% endblock %}

{% block body %}

		<section class="content-livraison">
			<h2>Livraison</h2>
		
			 <div>
			 	<h3>Quel transporteur va me livrer</h3>
			 	<p>Le nom du transporteur vous est indiqué lors de l'étape Livraison de la validation de commande, en cliquant sur Voir les détails de livraison. </p>
			 </div> 
			 <div>
			 	<h3>Quels sont les délais et modalités d'une livraison en magasin ?</h3>
			 	<p>Votre commande est livrée sous 4 à 6 jours ouvrés dans le magasin de votre choix.<br>
				Si vous avez passé commande sur Internet, vous recevez un e-mail vous invitant à retirer vos articles une fois réceptionnés.<br>
				Pour les commandes passées en magasin, vous êtes prévenu par téléphone de la livraison des articles.<br>
				Vous disposez alors de 10 jours pour la retirer sur présentation d’une pièce d’identité et de votre bon de commande ou e-mail de confirmation.
				</p>
			 </div>
			 <div>
			 	<h3>Est-il possible de me faire livrer en magasin ?</h3>
			 	<p>Sur Internet et depuis nos magasins, vous pouvez vous faire livrer gratuitement en magasin une large sélection d'articles de décoration. Selon la disponibilité des articles commandés, vous êtes livré en 4 à 6 jours ouvrés.<br>
				Pour les meubles et la décoration volumineuse, la livraison gratuite en magasin est disponible en commande magasin uniquement (sous réserve de l’accord du magasin). Pour plus d’informations, veuillez-vous rapprocher du magasin Maisons du Monde le plus proche de chez vous.</p>
			 </div>
			 <div>
			 	<h3>Quel est le montant des frais de livraison ?</h3>
			 	<p>Les frais de livraison dépendent de votre pays de livraison, de votre localité et des catégories d'articles commandés.</p>
			 </div>
			 <div>
			 	<h3>Je souhaite modifier mon adresse de livraison</h3>
			 	<p>Vous pouvez modifier votre adresse de livraison lors de la création d’une commande à l’étape Paiement de la validation de commande, encart Mes Adresses. Cette modification sera effective sur la commande en cours.<br>
				Vous pouvez également modifier ces informations depuis votre compte client, en cliquant sur Mes infos personnelles puis Mes coordonnées. La modification sera applicable sur les futures commandes uniquement. <br>
				Une fois la commande validée, la modification de l’adresse de livraison dépend du transporteur et de sa prestation.</p>
			 </div>
			 <div>
			 	<h3>Comment vais-je être livré ?</h3>
			 	<p>La livraison à domicile peut se faire de deux manières différentes :<br> 

	    			Par transporteurs express au pied de votre domicile et sur un créneau à la journée<br>
	    			Par transporteurs spécialisés dans la pièce de votre choix et sur rendez-vous.<br>

					Le mode de livraison et le nom du transporteur vous sont indiqués lors de l'étape Livraison de la validation de commande, en cliquant sur Voir les détails de livraison. </p>
			 </div>
			 <div>
			 	<h3>Je n'ai recus qu'un colis alors que j'en attendais plusieurs.</h3>
			 	<p>Pas de panique, il se peut que vos colis aient pris des chemins différents ! Depuis votre compte client, vous avez la possibilité de vérifier le nombre de colis ainsi que leurs numéros de suivi. Rendez-vous sur le site du transporteur en question pour suivre l’acheminement du colis manquant. </p>
			 </div>
			 <div>
			 	<h3>J'étais absent lors de ma livraison et mon colis a été retourné a l'expediteurs, que dois-je faire ?</h3>
			 	<p>Pour les livraisons au pied de votre domicile, en cas d’absence, votre colis est déposé dans votre boîte aux lettres si son volume le permet. Dans le cas contraire, un avis vous informe du passage du transporteur. Vous pouvez reprogrammer une livraison ou demander la mise à disposition dans un point de retrait.  Si vous optez pour le retrait, vous disposez alors de 10 jours ouvrés pour retirer votre colis. Passé ce délai, celui-ci sera automatiquement renvoyé.<br>
				Pour les livraisons dans la pièce de votre choix, en cas d’absence, un avis de passage est laissé dans votre boîte aux lettres avec les coordonnées du transporteur pour convenir d’une nouvelle date de livraison. </p>
			 </div>
			 <div>
			 	<h3>Ma commande a été divisé en deux livraisons differentes , pourquoi ? </h3>
			 	<p>Nos articles de petite décoration ne nécessitent pas les mêmes précautions de préparation et de livraison que nos meubles et notre décoration volumineuse. Pour cette raison, si vous passez commande de petite décoration et de meubles ou de décoration plus volumineuse, vous serez livrés par deux transporteurs différents.<br>
				Vous pouvez vérifier ces informations sur votre bon de commande ! Il n’est pas possible de regrouper les deux livraisons. Pour connaître les modalités de vos différentes livraisons, rendez-vous à l'étape Livraison de la validation de votre commande, en cliquant sur Voir les détails de livraison pour chacune des livraisons proposées. </p>
			 </div>

		</section>

{% endblock %}