{% extends "@AmandineCore/layout.html.twig" %}

{% block title %}
  mentions légales - {{ parent() }}
{% endblock %}

{% block body %}

		<section class="content-livraison">
			<h2>Mentions légales</h2>

			<div>
				<h3>Droits d'auteur</h3>
				<p>Le présent site constitue une œuvre de l'esprit au sens des dispositions des articles L 111-1 et suivants du Code de la Propriété Intellectuelle et, à ce titre, Le Dodo parisien bénéficie en sa qualité d'auteur de cette création originale d'une protection et des droits réservés par la loi.<br><br>

				L'utilisation de ce service est réservée à un usage strictement personnel et privé. Toute reproduction ou représentation partielle ou totale à d'autres fins sur un quelconque support est interdite, sauf autorisation expresse et préalable de Le Dodo parisien en sa qualité d'auteur.<br><br>

				Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur à l'encontre duquel Le Dodo parisien se réserve la possibilité de réclamer l'indemnisation de son entier préjudice.</p>
			</div>

			<div>
				<h3>Marques, noms commerciaux et droits de propriété intellectuelle</h3>
				<p>Le Dodo parisien et/ou plus largement ses sociétés affiliées sont propriétaires des droits attachés aux marques, dénominations sociales, noms commerciaux, enseignes et autres droits de propriété intellectuelle, dont il est expressément reconnu par tout utilisateur l'existence et la validité.<br><br>

				Aucune mention n'est faite de droits relatifs à d'autres marques, dénominations sociales, noms commerciaux ou enseignes, qu'ils soient enregistrés ou non et qui peuvent être attachés à certains termes ou signes utilisés sur ce site. Cependant, l'absence d'une telle mention n'implique en aucun cas que ces marques, dénominations sociales, noms commerciaux, enseignes, termes ou signes ne bénéficient pas d'une protection.<br><br>

				Il est expressément reconnu et admis par tout utilisateur de ce site que tout produit, service ou technologie décrit dans ces documents peut faire l'objet d'autres droits de propriété intellectuelle au profit de Le Dodo parisien ou d'un tiers. Aucun droit d'utiliser de tels droits de propriété intellectuelle n'est accordé ici.</p>
			</div>

			<div>
				<h3>Informations complémentaires</h3>
				<p>Le Dodo parisien a déclaré son site à la CNIL sous le numéro 114 72 46<br><br>

				Directrice de publication : Julie WALBAUM.<br><br>

				Société : Le Dodo parisien<br>
				Le Portereau<br>
				Route du Port Aux Meules<br>
				BP 52402<br>
				44124 VERTOU CEDEX<br>
				S.A.S au capital de 57 375 590 Euros<br>
				SIRET 383 196 656 00078<br>
				APE 4759B - R.C.S NANTES 383 196 656</p>
			</div>

			<div>
				<h3>Remarques</h3>
				<p>Ce site web permet un accès aux données Le Dodo parisien dans son ensemble. Dès lors, les données de ce site peuvent inclure des références à des produits, services ou technologies Le Dodo parisien non disponibles dans votre pays. La présence de ces références n'implique pas que Le Dodo parisien a l'intention d'offrir de tels produits, services ou technologies dans votre pays.<br><br>

				Les informations de ce site peuvent contenir des inexactitudes techniques ou des erreurs typographiques. Ces informations peuvent être périodiquement modifiées et les modifications seront incorporées dans les nouvelles éditions. Le Dodo parisien peut, à tout moment, sans préavis, apporter des améliorations ou des changements aux produits, aux services et aux technologies décrits sur ce site.</p>
			</div>

			<div>
				<h3>Médiation</h3>
				<p>Conformément à l'article R 152-1 du code de la consommation, le client peut gratuitement recourir au service de médiation MEDYCIS, par voie électronique : www.medicys.fr ,ou par voie postale : MEDICYS- Centre de médiation et règlement amiable des huissiers de justice- 73, Boulevard de Clichy, 75009 - Paris, pour toutes les réclamations déjà déposées par écrit auprès du service clientèle du vendeur depuis moins d'un an et non satisfaites.</p>
			</div>

		</section>

{% endblock %}