{% extends "@AmandineCore/layout.html.twig" %}

{% block title %}
  Retour - {{ parent() }}
{% endblock %}

{% block body %}

		<section class="content-livraison">
			<h2>Retours</h2>

			<div>
				<h3>Quels sont les delais et modes de remboursement ?</h3>
				<p>Pour les achats et commandes passées en magasin avec une livraison en magasin :<br>
    			en-dessous de 100 €, nous vous remboursons par carte bancaire ou en espèces selon le type de paiement effectué à l’achat. <br>
    			au-dessus de 100 €, ou pour les paiements par chèque et virement, nous vous remboursons par chèque sous un délai de 15 jours maximum. <br>
				À noter, les paiements en chèque cadeau, carte cadeau, bon d’achat ou avoir sont remboursés en avoir uniquement.<br>
				Pour rappel, toutes les commandes passées en magasin pour une livraison à domicile sont fermes et définitives. Elles ne sont ni annulables, ni remboursables.  <br>
				Vous avez passé commande sur internet ?<br>
				Pour les commandes passées sur internet, selon le moyen de paiement effectué, les délais et modes de remboursement diffèrent</p>
			</div>

			<div>
				<h3>J'ai refusé un article ou la totalité de ma commande lors de la livraison</h3>
				<p>ous avez 14 jours pour contacter le Service Client depuis votre compte.<br>
				Pour effectuer votre retour : <br>
    			Connectez-vous à votre compte et accédez à vos commandes.<br>
    			Sélectionnez vos articles et faites votre demande de retour. <br>
    			Nous vous remboursons vos articles ou éditons un avoir.<br>
				Une fois votre colis réceptionné dans notre entrepôt, un e-mail de confirmation vous sera envoyé et nous vous ferons parvenir votre remboursement.<br>
				Selon le moyen de paiement effectué, les délais et modes de remboursement diffèrent</p>
			</div>

			<div>
				<h3>Mes frais de livraison sont-ils remboursés ?</h3>
				<p>Pour toute commande passée sur notre site Internet, vous êtes remboursé des frais de livraison si la totalité de votre commande nous est retournée.</p>
			</div>

			<div>
				<h3>Je n'ai pas été remboursé</h3>
				<p>Notre service comptabilité traite le remboursement une fois l’article retourné à notre entrepôt. Si vous avez renseigné votre adresse e-mail, une confirmation de remboursement vous sera envoyée. Pensez à bien vérifier vos courriers indésirables, elle peut s’y cacher !<br>
				Votre remboursement a bien été confirmé par e-mail ? Pas de panique, plusieurs raisons peuvent expliquer le retard :<br>
    			Vérifier bien la carte ou le compte bancaire ayant servi au paiement, nous remboursons automatiquement ce même compte. <br>
    			Pour un paiement différé par carte bancaire, vous êtes remboursé en différé également. Patientez jusqu’au début du mois suivant pour voir apparaître le crédit sur votre compte.<br> 
    			Pour un paiement par carte cadeau ou par avoir sur Internet, vous recevez une nouvelle carte cadeau à votre domicile. Cela peut prendre jusqu’à 15 jours ouvrés.<br> 
    			Pour un remboursement par chèque, nous envoyons le courrier sous 15 jours ouvrés à votre adresse de facturation et non de livraison.<br> 
				À noter, pour toute commande passée sur notre site Internet, vous êtes remboursé des frais de livraison si la totalité de votre commande nous est retournée.</p>
			</div>

			<div>
				<h3>Quel est mon delai de réctractation ?</h3>
				<p>ous avez passé commande sur internet ?<br>
				Conformément aux dispositions de l'article L 121-20 du Code de la consommation, vous disposez d'un délai de rétractation de 14 jours calendaires pour les commandes Internet à compter de la livraison de l’article, et hors clients professionnels. <br>
				Si ce délai expire un samedi, un dimanche ou un jour férié, il est prolongé jusqu'au premier jour ouvrable suivant. <br>
				Ce droit de rétractation vous permet de retourner gratuitement l’article qui ne vous convient pas.<br>
				Vous avez réalisé un achat en magasin ou vous avez passé commande en magasin ?<br>
				Vous pouvez retourner gratuitement et pendant 30 jours les achats à l’emporté et les articles livrés en magasin. Si vous êtes Client Privilège, vous disposez de 60 jours pour nous retourner vos achats réalisés en magasin (hors meubles et commandes).<br>
				Pour rappel, les commandes magasin en livraison à domicile sont fermes et définitives, vous ne disposez pas de délai de rétractation. </p>
			</div>

			<div>
				<h3>Puis-je échanger en magasin un meuble commandé par internet ? </h3>
				<p>Si vous avez effectué une commande avec une livraison en magasin, les retours se font uniquement en magasin.<br>
				Pour des raisons logistiques, cela n'est pas possible pour les commandes en livraison à domicile.<br> 
				Pour toute demande d'échange ou de remboursement, rendez-vous sur Mon compte, rubrique Mes commandes. Sélectionnez la commande à traiter et laissez-vous guider. Si vous n'avez pas de compte client ou si vous avez effectué une commande en magasin et qu'elle n'est pas rattachée à votre compte, contactez le Service Client par ici.</p>
			</div>

			<div>
				<h3>J'ai passé deux commande differentes a quelques munites d'intervalle, est-il possible de se faire rembourser des frais de livraison ?</h3>
				<p>La validation de deux commandes génère deux étapes de préparation et d’expédition différentes. Les frais de livraison ne peuvent être remboursés une fois les commandes validées. </p>
			</div>

			<div>
				<h3>Comment être remboursé de la TVA ? </h3>
				<p>Il est possible d’être remboursé de la TVA française pour les clients hors de la zone Union Européenne.<br>
				Pour les achats ou commandes passées en magasins français, les vendeurs se chargent de remplir informatiquement en caisse votre formulaire de détaxe. <br>
				Pour les commandes passées sur Internet, vous êtes contacté au moment du passage de frontière pour régler les frais de douane supplémentaires. À réception de votre commande, il vous suffit de remplir et d’adresser à notre service comptabilité une demande de détaxe. Pensez bien à y joindre la facture de votre commande !</p>
			</div>





		</section>

{% endblock %}